[submodule "contract/lib/forge-std"]
	path = contract/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "contract/lib/openzeppelin-contracts"]
	path = contract/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "contract/l1contract/lib/forge-std"]
	path = contract/l1contract/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "contracts/l1contract/lib/forge-std"]
	path = contracts/l1contract/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "contracts/l1contract/lib/aztec-l1-contracts/l1-contracts/openzeppelin-contracts"]
	path = contracts/l1contract/lib/aztec-l1-contracts/l1-contracts/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "contracts/l1contract/lib/openzeppelin-contracts"]
	path = contracts/l1contract/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "contracts/l1contract/lib/aztec-packages"]
	path = contracts/l1contract/lib/aztec-packages
	url = https://github.com/AztecProtocol/aztec-packages
